 <div class="cards">
   <% @listings.each do |listing| %>
    <%= link_to listing_path(listing) do %>
      <div class="card card-index" id="index-card">
        <% if !listing.photos.first.nil?%>
          <%= cl_image_tag listing.photos.first.key, :gravity=>"faces", :crop=>"fill", class:"card-index-img" %>
        <% else %>
          <%= image_tag "placeholder.png", alt: "placeholder-img", class:"card-index-img" %>
        <% end %>
        <div class="card-index-details">
          <span class="card-index-details-title"><%= listing.title %></span>
          <p class="card-index-details-description"> <b> <%= listing.plant_category %>  -   <%= listing.listing_type %></b></p>
        </div>
        <div class="card-index-infos">
          <p class="card-index-infos-item"><span class="card-index-infos-category">Care Level:</span><%= listing.care_level_category %></p>
          <p class="card-index-infos-item"><span class="card-index-infos-category">Location:</span><%= listing.postcode %> - <%= listing.city %></p>
        </div>
      </div>
     <% end %>
    <% end %>
  </div>
