  <div>
  <%= simple_form_for :search, url: listings_path, method: "GET" do |f| %>
   <h3> Plant Category </h3>
   <%= f.collection_check_boxes :plant_category, Listing::PLANT_CATEGORY , :to_s, :to_s %>
    <h3> Listing Type </h3>
   <%= f.collection_check_boxes :listing_type, Listing::LISTING_TYPE , :to_s, :to_s %>
    <h3> Care Level </h3>
   <%= f.collection_check_boxes :care_level_category, Listing::CARE_LEVEL_CATEGORY , :to_s, :to_s %>
   <%= f.submit "Search" %>
   <% end %>
   </div>   


<div class="container">

  <div class="cards">
   <% @listings.each do |listing| %>
    <div class="card" style="width: 16rem;">
      <% if !listing.photos.first.nil?%>
      <%= cl_image_tag listing.photos.first.key, :width=>250, :height=>250, :gravity=>"faces", :crop=>"fill" %>
      <% else %>
      <%= image_tag "placeholder.png", alt: "placeholder-img", height: 200, width: 400 %>
      <% end %>
      <div class="card-listing-infos">
      <h4 class="card-listing-infos"><%= listing.title %></h4>
    </div>
    <div>
      <div class="flex-container-grid">
        <p><%= listing.plant_category %></p>
        <p class="card-listing-pricing"><%= listing.listing_type %></p>
      </div>
    </div>
     <% end %>
    </div>

   
    </div>

  
  </div>
