<!-- <h1><%= content_for(:title, "LOCAL GOODIES") %></h1> -->


<!--                      GRID/MAP BUTTON                 -->
<div class="container">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Grid</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Map</a>
    </li>
  </ul>
</div>


<div class="flex-container">
  <!----------------- FILTERING BOX ------------->
  <div class="filter">
  <!-- <h3> Filter: </h3> -->
  <%= simple_form_for :search, url: listings_path, method: "GET" do |f| %>
  <div class="category">
   <p id="category-name"> Plant Category </p>
   <div class="advancedsearch">
    <%= f.collection_check_boxes :plant_category, Listing::PLANT_CATEGORY , :to_s, :to_s %>
   </div>
  </div>
  <div class="category">
   <p id="category-name"> Listing Type </p>
   <div class="advancedsearch">
    <%= f.collection_check_boxes :listing_type, Listing::LISTING_TYPE , :to_s, :to_s %>
   </div>
  </div>
  <div class="category">
    <p id="category-name"> Care Level </p>
   <div class="advancedsearch">
    <%= f.collection_check_boxes :care_level_category, Listing::CARE_LEVEL_CATEGORY , :to_s, :to_s %>
   </div>
  </div>
  <div class="flex-container">
   <%= f.submit "Apply", class: "btn-orange-filter1", style: "margin-left: 30px;" %>
   <%= link_to 'Reset', listings_path, class: "btn-orange-filter2" %>
  </div>
   <% end %>
  </div>




<!--------------  CARDS ------------->
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="cards">
        <% @listings.each do |listing| %>
          <%= link_to listing_path(listing) do %>
            <div class="card card-index" id="index-card">
              <% if !listing.photos.first.nil?%>
                <%= cl_image_tag listing.photos.first.key, :gravity=>"faces", :crop=>"fill", class:"card-index-img" %>
              <% else %>
                <%= image_tag "placeholder.png", alt: "placeholder-img", class:"card-index-img" %>
              <% end %>
              <div class="card-index-details">
                <span class="card-index-details-title"><%= listing.title %></span>
                <p class="card-index-details-description"> <b> <%= listing.plant_category %>  -   <%= listing.  listing_type %></b></p>
              </div>
              <div class="card-index-infos">
                <p class="card-index-infos-item"><span class="card-index-infos-category">Care Level:</span><%= listing.care_level_category %></p>
                <p class="card-index-infos-item"><span class="card-index-infos-category">Location:</span><%= listing.postcode %> - <%= listing.city %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!--------------  MAP ------------->
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div id="map"  style="width: 100%; height: 800px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

</div>







