<%= link_to '< Back to previous page', listings_path, style:"margin-left:10px;" %>

 <div class="container form">
  <div class="row">
    <div class="col-12 col-sm-6 sol-sm-offset-3">
     <div class="container form">
      <div class="row">
       <div class="col-12">
        <h2> Post new listing </h2>
      </div>
      </div>

      <%= simple_form_for(@listing) do |f| %>
        <div class="container">
        <div class="row">
          <div class="col-12">
          <%= f.input :title, placeholder: "What's the title of your new listing?" %>
        </div>
          </div>
          <div class="row">
           <div class="col-5">
          <%= f.input :street_name, placeholder:"My street name ..." %>
          </div>
          <div class="col-3">
            <%= f.input :postcode %>
          </div>
          <div class="col-4">
            <%= f.input :city %>
          </div>
          </div>
          
          <div class="row">
          <div class="col-12">
          <%= f.input :description, placeholder:"My offering listing has a size of ..." %>
          </div>
          </div>
          <div class="custom-check-wrapper">
            <%= f.input :listing_type, as: :radio_buttons , wrapper_html: { class: 'custom-check' }, collection: Listing::LISTING_TYPE %>
          </div>
          <div class="row">
            <div class="col-6" >
            <%= f.input :price, :disabled => true, :id => "listing_price" %>
            </div>
            <div class="col-6">
            <%= f.input :quantity %>
            </div>
          </div>
          <div class="form-group">
          <div class="custom-check-wrapper">
            <%= f.input :plant_category, as: :radio_buttons , wrapper_html: { class: 'custom-check' },  collection: Listing::PLANT_CATEGORY %>
          </div>
          <div class="custom-check-wrapper">
            <%= f.input :care_level_category, wrapper_html: { class: 'custom-check' }, as: :radio_buttons, collection: Listing::CARE_LEVEL_CATEGORY %>
          </div>
          </div>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Post your listing", class: "btn-orange-form", :style=>"width: 100%;" %>
          </div>
      <% end %>
     </div>
    </div>
  </div>
 </div>
