<%= link_to 'Back', listings_path %>
<% if @current_user == @listing.user  %>
 <%= link_to 'Edit', edit_listing_path(@listing), class: "btn-orange" %>
 <%= link_to "Delete", listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-orange"%>
<% end %>



<div class="container">
      <% @listing.photos.each do |photo| %>
  <div class="row justify-content-center">
      <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill %>
  <% end %>
  </div>
</div>

      <div class="cards" id="home-page-cards">
        <div class="card w-75" id="show-card" style="margin-right: 50px; background-color: white;">
          <div class="show-header">
        <h4><%= @listing.title %></h4>
        <h5>
          <% if@listing.listing_type == "Sell" %>
         <%= @listing.price %>€
          <% else %>
          <%= @listing.listing_type %>
          <% end %>
         </h5>
       </div>
        <p> <%= @listing.description %></p>
      </div>

      if

      <div class="card">
        <!-- <%= image_tag ("picture-card-home.gif") %> -->
        <h4>User Card (profile pic + username)</h4>
        <p>something about user+average rating</p>
        <%= link_to "Start a Message", class: "btn-blue"%>
      </div>
      </div>


<h1>Map</h1>

