<%= link_to 'Back', listings_path %>

<!-- TRYING TO MAKE THE REQUEST BUTTON "SMART"
Because for now its always creating a new chatroom? If the current user is not the owner, and if there is no existing chatroom where user id is current user, it should show a buy button. otherwise it should show a go to messages button
<% if !@current_user == @listing.user && @listing.chatrooms.where(user_id: @current_user) %>
<%= link_to 'BUY', new_listing_chatroom_path(@listing), class: "btn-orange" %>
<% elsif !@current_user == @listing.user %>
<%= link_to 'GOTO CHAT', listing_chatroom_path(@listing), class: "btn-orange" %>
<%end%>
-->
<%if @chatroom %>
<%= link_to 'Go to chat', chatroom_path(@chatroom), class: "btn-orange" %>
<% else %>
<%= link_to 'BOOOOK', listing_chatrooms_path(@listing), method: :post, class: "btn-orange" %>
<% end %>

<% if @current_user == @listing.user  %>
 <%= link_to 'Edit', edit_listing_path(@listing), class: "btn-orange" %>
 <%= link_to "Delete", listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-orange"%>
<% end %>



<div class="container">
      <% @listing.photos.each do |photo| %>
  <div class="row justify-content-center">
      <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill %>
  <% end %>
  </div>
</div>

      <div class="cards" id="home-page-cards">
        <div class="card w-75" id="show-card" style="margin-right: 50px; background-color: white;">
          <div class="show-header">
        <h4><%= @listing.title %></h4>
        <h5>
          <% if@listing.listing_type == "Sell" %>
         <%= @listing.price %>€
          <% else %>
          <%= @listing.listing_type %>
          <% end %>
         </h5>
       </div>
        <p> <%= @listing.description %></p>
      </div>

      if

      <div class="card">
        <!-- <%= image_tag ("picture-card-home.gif") %> -->
        <h4>User Card (profile pic + username)</h4>
        <p>something about user+average rating</p>
        <%= link_to "Start a Message", class: "btn-blue"%>
      </div>
      </div>


<h1>Map</h1>

