<div class="container">
  <h1 class="messages"> Messages </h1>
    <h2 class="messages">From my requests</h2>
    <%@chatrooms.each do |chatroom|%>
      <% if chatroom.user == current_user%>
        <%= link_to chatroom_path(chatroom) do %>
          <div class="card-horizontal-chatroom">
            <% if !chatroom.listing.photos.first.nil?%>
            <%= cl_image_tag chatroom.listing.photos.first.key,:crop=>"fill" %>
            <% else %>
            <%= image_tag "placeholder.png", alt: "placeholder-img" %>
            <% end %>
            <div class="card-horizontal-infos">
              <h2><%= chatroom.listing.title %> <br>  with: <%= chatroom.listing.user.username %> </h2>
            <% if !chatroom.messages.last.nil? %>
              <p><%= chatroom.messages.last.content %> </p>
            <% end %>
              <div class="link-status">
                <%=chatroom.status %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  <% end %>


   <h2 class="messages">From my listings</h2>
    <%@chatrooms.each do |chatroom|%>
      <% if chatroom.listing.user == current_user%>
        <%= link_to chatroom_path(chatroom) do %>
          <div class="card-horizontal-chatroom">
            <% if !chatroom.listing.photos.first.nil?%>
              <%= cl_image_tag chatroom.listing.photos.first.key, :crop=>"fill" %>
            <% else %>
              <%= image_tag "placeholder.png", alt: "placeholder-img" %>
            <% end %>
            <div class="card-horizontal-infos">
            <h2><%= chatroom.listing.title %></h2>
            <h2><%= chatroom.listing.user.username %> </h2>
            <% if !chatroom.messages.last.nil? %>
            <p><%= chatroom.messages.last.content %> </p>
            <% end %>
              <div class="link-status">
                <%=chatroom.status %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>


