Listing id: <%=@chatroom.listing.id%>
<br>
Chatroom id: <%=@chatroom.id%>
<br>
CURRENT USER: <%=current_user.username%>
<br>
STATUS: <%=@chatroom.status%>
<br>
<%if @current_user != @chatroom.listing.user %>
  <div class="btn btn-orange">
  <% if @chatroom.status == "Enquiring" || @chatroom.status == "Cancelled" %>
    <%= link_to 'Request listing', chatroom_path(@chatroom, status: "Pending"), method: :patch %>
  <% elsif%>
    <%= link_to 'Cancel request', chatroom_path(@chatroom, status: "Cancelled"), method: :patch %>
  <% end %>
  </div>
  <%end%>

<%if @current_user == @chatroom.listing.user %>
  <% if @chatroom.status == "Pending" %>
    <div class="btn btn-orange">
      <%= link_to 'Confirm request', chatroom_path(@chatroom, status: "Confirmed"), method: :patch %>
    </div>
  <% elsif  @chatroom.status == "Confirmed" %>
    <div class="btn btn-orange">
      <%= link_to 'Cancel request', chatroom_path(@chatroom, status: "Cancelled"), method: :patch %>
    </div>
  <% end %>
<% end %>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.username %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<!-- if code above causes issues, maybe just this?
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>
-->
<%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
  <%if @chatroom.listing.user != current_user%>  <!-- we need this if to display correct chat partner -->
    <%= f.input :content, label: false, placeholder: "Message #{@chatroom.listing.user.username}" %>
  <%else%>
    <%= f.input :content, label: false, placeholder: "Message #{@chatroom.user.username}" %>
    <%end%>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>




