
<!-- BANNER ILLUSTRATION CONTAINER --->
<div class="banner" id="banner-homepage">

  <div class="container">
    <!-- SEARCH BAR --->
    <div id="content">

      <h1 class="home-title">Local marketplace<br>for <span class="home-title-decorator">plants</span></h1>
      <%= form_tag listings_path, method: :get do %>
      <div class="home-form search-form-control form-group input-group">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control search-form",
          placeholder: "Search for plants, cuttings and seeds around you"
          %>
          <%= button_tag "", class: "fa fa-search pull-right btn btn-default search-btn", id:"search-this" %>
        </div>
        <% end %>


    </div>
  </div>

</div>

  <!-- END OF THE SEARCH BAR --->
  <!-- END OF THE BANNER ILLUSTRATION--->

  <!-- HOW IT WORK SECTION --->
  <div class="container" style="margin-bottom: 100px;">

    <h2 class="home-title text-center">
    How it works</h2>
    <span class="home-description">
    Become a GreenSwap member</span>

    <div class="cards">
      <div class="card card-homepage">
        <%= image_tag ("gif1.gif") %>
        <h4>Find new plants</h4>
        <p>Get wonderful plants in your <br>
        area from our community</p>
        <%= link_to "Browse all plants", listings_path, data:{turbolinks:false},class: "btn-orange-card"%>
      </div>

      <div class="card card-homepage">
        <%= image_tag ("gif2.gif") %>
        <h4>Swap easily</h4>
        <p>Create listings and start swapping your plants with other plant lovers</p>
        <%= link_to "Start Swapping", new_listing_path, class: "btn-orange-card"%>
      </div>

      <div class="card card-homepage">
        <%= image_tag ("gif3.gif") %>
        <h4>Join the community</h4>
        <p>Become a plant master <br>with the knowledge of our community</p>
        <%= link_to "Create a profile", new_user_registration_path, class: "btn-orange-card"%>
      </div>

    </div>
  </div>
</div>
