<!DOCTYPE html>
<html>
  <head>
    <title>GreenSwap - The local marketplace for swapping plants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= render 'shared/navbar' %>



    <% unless current_page?(root_path) %>
    <%= render 'shared/small-banner' %>
    <% end %>



    <%= render 'shared/flashes' %>


    <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
